
<nav class="navbar navbar-expand-md navbar-light bg-light border position-sticky top-0">
    <div class="d-flex container-fluid">
        <form action="#" class="position-relative  me-auto">
            <input type="search" class="form-control pe-5" placeholder="Search docs...">
            <span class="d-inline-block px-2 py-1 lh-1 fs-6 border position-absolute ctrl-btn">
                <span class="font-small">
                    Ctrl+/
                </span>
            </span>
        </form>
        <div class="dropdown">
            <button type="button" class="btn btn-light dropdown-toggle border" id="dropdownVersionLink" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                <span class="d-none d-lg-inline">Bootstrap</span>
                v5.0
            </button>
            <ul class="dropdown-menu cst-dropdown-menu" aria-labelledby="dropdownVersionLink">
                <li><span class="dropdown-item">v5 releases</span></li>
                <li><a href="#" class="dropdown-item">Latest (5.2x)</a></li>
                <li><a href="#" class="dropdown-item">v5.1.3</a></li>
                <li><a href="#" class="dropdown-item">v5.0.2</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="#" class="dropdown-item">v4.6.8</a></li>
                <li><a href="#" class="dropdown-item">v3.4.1</a></li>
                <li><a href="#" class="dropdown-item">v2.3.2</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a href="#" class="dropdown-item">All versions</a></li>
            </ul>
        </div>
    </div>
</nav>


