<div class="sidebar-sticky" id="docsContentCollapse">
    <ul class="collapse show navbar-collapse mb-3 mb-md-0">
        <li>
            <a href="#collapseMenu1" class="btn text-secondary fw-bold sidebar-collapse d-inline-flex align-items-center text-nowrap" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenu1">
                Getting Started
            </a>
            <ul class="collapse text-muted text-wrap ps-4 py-1 ms-2 small" id="collapseMenu1">
                <li><a href="#" class="dropdown-item d-items-block pb-2">Introduction</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Download</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Contents</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Browsers & devices</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Javascript</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Build tools</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Webpack</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Parcel</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Accessibility</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">RFS</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">RTL</a></li>
            </ul>
        </li>
        <li>
            <a href="#collapseMenu2" class="btn text-secondary fw-bold sidebar-collapse d-inline-flex align-items-center" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenu2">
                Customize
            </a>
            <ul class="collapse text-muted text-wrap ps-4 py-1 ms-2 small" id="collapseMenu2">
                <li><a href="#" class="dropdown-item d-items-block pb-2">Overview</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Sass</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Options</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Color</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Components</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">CSS variables</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Optimize</a></li>
            </ul>
        </li>
        <li>
            <a href="#collapseMenu3" class="btn text-secondary fw-bold sidebar-collapse d-inline-flex align-items-center" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenu3">
                Layout
            </a>
            <ul class="collapse text-muted text-wrap ps-4 py-1 ms-2 small" id="collapseMenu3">
                <li><a href="#" class="dropdown-item d-items-block pb-2">Breakpoints</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Containers</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Grid</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Columns</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Gutters</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Utilities</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Z-index</a></li>
            </ul>
        </li>
        <li>
            <a href="#collapseMenu4" class="btn text-secondary fw-bold sidebar-collapse d-inline-flex align-items-center" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenu4">
                Content
            </a>
            <ul class="collapse text-muted text-wrap ps-4 py-1 ms-2 small" id="collapseMenu4">
                <li><a href="#" class="dropdown-item d-items-block pb-2">Reebot</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Typography</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Images</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Tables</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Figures</a></li>
            </ul>
        </li>
        <li>
            <a href="#collapseMenu5" class="btn text-secondary fw-bold sidebar-collapse d-inline-flex align-items-center" role="button" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseMenu5">
                Forms
            </a>
            <ul class="collapse text-muted text-wrap ps-4 py-1 ms-2 small" id="collapseMenu5">
                <li><a href="#" class="dropdown-item d-items-block pb-2">Overview</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Form Control</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Select</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Check & radios</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Range</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Input Group</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Floating Labels</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Layout</a></li>
                <li><a href="#" class="dropdown-item d-items-block pb-2">Validation</a></li>
            </ul>
        </li>
        <li>
            <hr class="dropdown-item-divider ps-4 ms-2">
        </li>
        <li>
            <a href="#" class="dropdown-item text-secondary fw-bold ps-4 py-1 ms-2">Migration</a>
        </li>
    </ul>
</div>
